# ============================ PostgreSQL ============================
POSTGRES_DB=keycloak_auth_service
POSTGRES_USER=keycloak_auth_user
POSTGRES_PASSWORD=keycloak_auth_password
POSTGRES_PORT=5432

# ================= Keycloak (Bootstrap Admin) =======================
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# ================= Keycloak Config Flags ============================
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_HTTP_ENABLED=true
KC_LOG_LEVEL=INFO
KC_METRICS_ENABLED=true
KC_HEALTH_ENABLED=true

# ========================== Keycloak Port =============+=============
KC_HTTP_PORT=8080

# ========================= Client Config ============================
KC_CLIENT_ID=client-id
KC_CLIENT_SECRET=client-secret